body{justify-content:center;align-items:center;min-height:100vh;margin:0;padding:0;font-family:Roboto,sans-serif;display:flex}.weather-container{text-align:center;border-radius:20px;width:100%;max-width:450px;padding:2rem}
